* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, select, textarea, button {
  font: 400 1rem "Rubik", sans-serif;
}

body {
  color: #ffffff;
  background: #000015;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 10px;
}

.button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  color: #131313;
  background: #FE772D;
}

.button--full {
  width: 100%;
}

.button--dark {
  color: #ffffff;
  background: #292929;
}

/* HEADER */
.main_header {
  display: flex;
  align-items: end;
  height: 106px;
}

.main_header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_header nav {
  display: flex;
  gap: 1.5rem;
}